
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
    background-color: whitesmoke;
   }

   
slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
}
   
slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}
   
slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url("../images/angeles.jpg");
    background-size: cover;
    background-position: center;
    filter: opacity(80%);
}
   
slide:nth-child(2){
 left: 100%;
animation-delay: 2s;
 background-image: url("../images/sanfrancisco.jpg");
    background-size: cover;
    background-position: center;
    filter: opacity(80%);

}
   

slide:nth-child(3){
    left: 100%;
    animation-delay: 5s;
    background-image: url("../images/brooklyn.jpg");
    background-size: cover;
    background-position: center;
    filter: opacity(80%);
}
   
slide:nth-child(4){
    
    left: 100%;
    animation-delay: 8s;
    background-image: url("../images/japan.jpg");
    background-size: cover;
    background-position: center;
    filter: opacity(80%);
    
}
   
slide p {
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #fff;
    letter-spacing: 0.2em;

}


   
@keyframes slide {
    0% { left: 100%; width: 100%; }
    5% { left: 0%; }
    25% { left: 0%; }
    30% { left: -100%; width: 100%; }
    30.0001% { left: -100%; width: 0%; }
    100% { left: 100%; width: 0%; }
}

.navbar{
background-color: #ED2945;
color:#F9F9F9;
height: 80px;
opacity: 0.9;
}

a{
color:#F9F9F9;
width: 100px;
height: 80px;
text-align: center;
line-height:60px;
font-size:18px !important;


}

a:hover{
background-color: #C22439 ;
color: #F9F9F9;
}


h2{
    width:200px;
    height: 45px;
    letter-spacing: 0.2em;
    margin: 20px 20px;
    text-align: center;
    padding: 0px;
    font-size: 35px !important;
    line-height: 25px !important;
}

/* h1 styling  */
h1{
color: black !important;
letter-spacing: 0.2em;
font-size: 40px;

}

/* The class that hold the h1 */
.about{
    position:relative;
    top:900px;
    align-items: center;
    text-align: center;

}

/* The container that holds the message*/
.container{
background-color: whitesmoke;
position: relative;
/* bottom: 0; */
display: flex !important;
flex-direction: row !important;
justify-content: space-between !important;
align-items: flex-end !important;
width:100%;
top:900px;


} 

.card{

background-color: whitesmoke;
width: 300px;
height: 400px;
border-radius: 20px;
box-shadow: 5px 10px 18px #888888;
}

.card p{
/* color: darkgrey; */
text-align: start;
font-family: 'Poppins', sans-serif;
word-spacing: 3px;


}

/* To adjust the topic text to center */
.card-body{

text-align: center;

}
/* styling the topic class */
.topic{
padding: 10px 20px;
text-align: center;
font-size: 20px;
font-family: 'Poppins', sans-serif;
}


/* .log-in{
width: 500px;
height: 500px;
background-color: darkolivegreen;
display: none;
} */

.modal {
    
}