body{
    height: 100vh !important;
    background-color: whitesmoke !important;
}
.profileImg{
border-radius: 50%;
border: #C22439 solid 4px !important;
width: 60% ;
margin: 20px auto 5px;     

}

.w3-container p{
font-size: 20px !important;
font-family: 'Tenali Ramakrishna', sans-serif;
letter-spacing: 0.1em;
}

.title{
font-family: 'Tenali Ramakrishna', sans-serif;
letter-spacing: 0.1em;
text-transform: capitalize;

}
.title:hover{
text-decoration: none;
/* text-shadow: 4px 4px 5px #C22439; */
/* color: #C22439 ; */
color:#C22439;
    
}
.date{
font-size: 13px;
}

.card-title{
font-family: 'Tenali Ramakrishna', sans-serif;
letter-spacing: 0.1em;

}

.username{
font-family: 'Tenali Ramakrishna', sans-serif;
letter-spacing: 0.2em;
}

.city{
 font-family: 'Tenali Ramakrishna', sans-serif;
 letter-spacing: 0.2em;

}
.city-name{
font-family: 'Tenali Ramakrishna', sans-serif;
letter-spacing: 0.2em;
text-transform: capitalize;
}
.city-name:hover{
text-decoration: none;
color:#C22439;

}


.right-box{

padding-left:30px !important;

}

.copyright{
height: 50px;
width: 100%;
background-color: #ED2945;

}
.copyright p{
line-height: 50px;
margin-bottom: 0px;
padding-left:20px;
color:white;
}

.btn{

background-color: #ED2945 !important;
border-radius: 18px !important;
border-style: none !important;
color: white !important;

}

.btn:hover{
transform: scaleY(1.1);
}

/* .edit{ */
/* font-family: 'Tenali Ramakrishna', sans-serif; */
/* font-size:17px !important;
line-height: 40px !important;

    
} */





/* testing */


.edit{
    border-radius: 15px;
    font-size: 20px;
    padding: 14px 30px;
    cursor: pointer;
    color:#ED2945;
    background-color: white;
    /* font-size: 1.5rem; */
    font-family: 'Roboto';
    font-weight: 100;
    border: 1px solid #ED2945;
    box-shadow: 2px 2px 3px #DA5A53;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
  
    

  }
  
  .edit:hover {
    
    border: 1px solid #C22439;
    box-shadow: 2px 2px 20px#DA5A53;
    text-decoration: none;
    background-color: #ED2945;
    color:white;
  }
  
  a.edit {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

.ifk{
  padding:0px 30px 0px 30px !important;
  /* width: 600px !important;
  margin:auto !important;
  */
}
  
.ifk:nth-child(even) {
    background: #f2f2f2;
  }

span{

margin-right: 10px !important;

}

