{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'styles/main.css'%}">
    <title>Wayfarer</title>
</head>

<body>
    <!-- <nav class="navbar navbar-expand-lg">
        <h4 class="navbar-brand" href="#">Wayfarer</h4>

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#"> Sign In <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"> Login <span class="sr-only">(current)</span></a>
            </li>

        </ul>

    </nav> -->
    <!-- <nav class="navbar navbar-expand-lg ">
        <div class="container d-flex flex-row-reverse">
            <h2 class="navbar-brand" href="#">Wayfarer</h2>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Sign In <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Login <span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </nav> -->
    <!-- <ul class="nav justify-content-end">
        <li class="nav-item">
            <h2 class="nav-link active" href="#">Wayfarer</h2>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
        </li>
    </ul> -->
    <nav class="navbar navbar-expand-lg">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block">
                <!-- hidden spacer to center brand on mobile --></span>
            <h2 class="navbar-brand" href="#">
                Wayfarer
            </h2>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item">
                    <a href="#" class="nav-link">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Login</a>
                </li>

            </ul>
        </div>
    </nav>

    {% block content%}

    {% endblock%}

</body>

</html>