{% extends 'base.html'%}



{% block content%}

<!-- {%for cities in city%} -->

<!-- <a href="{%url 'detail' cities.id%}"> -->
    <!-- {{cities.name}} -->
<!-- </a> -->


<!-- {%endfor%} -->


<div class="col user-posts">
    <a class="btn btn-primary" href="{%url 'post'%}"> POST</a>
    {%for cities in city%}
    <div class="row cities-row">
        <div class="card" style="height: 150px">
            <div class="card-body">
                <img src={{cities.img.url}} alt="{{cities.name}}" width="100px" height="100px">
                <h5 class="card-title">
                    <a href="{% url 'detail' cities.id%}" display="inline">{{cities.name}}</a>
                </h5>
            </div>
        </div>
    </div>

    {%endfor%}

</div>


{% endblock%}