{% extends 'base.html'%}


{% block content%}


<h1>{{city.name}}</h1>
<h5> Country {{city.country}} </h5>
<img src="{{city.img.url}}" width='1000' alt="picture">


<form action="{%url 'detail' city.id %}" method="POST">

    {%csrf_token%}

    {{post_form.as_p}}

    <input type="submit" value="submit">

</form>
{%for posts in post%}

<p> Title: {{posts.title}} </p>
<p> Content: {{posts.content}} </p>
<p>User: {{posts.user}}</p>
{%if posts.user == request.user%}
<a href="{%url 'post_edit' posts.id%}"> Edit </a>
<a href="{%url 'delete' posts.id%}"> Delete</a>

{%endif%}

{%endfor%}



{% endblock%}