{% extends 'base.html'%}



{%block content%}

<h1>HIIII</h1>

<div class="container">
    <div class="col-sm">
        <div class="col-sm column">
            One of three columns
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm">
        <div class="col-sm column">
            One of three
        </div>
    </div>
</div>

<div class="container">
    <div class="col-sm">
        <div class="col-sm column">
            One of
        </div>
    </div>
</div>

















{%endblock%}