{% extends 'base.html'%} {%block content%}


<!-- {%for profiles in profile%}
<p> name: {{profiles.name}}</p>
<p> name: {{profiles.city}}</p>
<p> name: {{profiles.date}}</p>


{%endfor%} -->



<p> email: {{user.email}}</p>
<p> usernmae {{user.username}}</p>
<p>first{{user.first_name}}</p>
<p> last {{user.last_name}}</p>
<p> last {{user.date_joined}}</p>
<div>
    <a href="{% url 'edit' user.profile.id %}">Edit</a>
</div>

<form action="{%url 'profile'%}" method="POST">

    {%csrf_token%} {{profile_form.as_p}}
    <input type="submit">
</form>

<a href="{%url 'post'%}"> POST</a> {{user.profile.city}} {%for posts in post%} Title: {{posts.title}} Content: {{posts.content}} {%endfor%} {% endblock%}